/* .overlay {
  opacity: 0.8;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
/* position: absolute; */
/* top: 100%; */
/* transition: all 0.5s; */

/* .item {
  position: relative;
}
 */

/* .item:hover .overlay {
  opacity: 0.8;
  top: 0;
} */
